TcjjgWeb/TCJJG.Web3/App_WebReferences/ExpSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tcjjg.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tcjjg.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tcjjg.com/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="AddExp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isRobot" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddExpResult" type="tns:RankResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RankResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RankBefore" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RankAfter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Exp" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetExp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetExpResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRankResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllExp">
        <s:complexType />
      </s:element>
      <s:element name="GetAllExpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllExpResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddExpSoapIn">
    <wsdl:part name="parameters" element="tns:AddExp" />
  </wsdl:message>
  <wsdl:message name="AddExpSoapOut">
    <wsdl:part name="parameters" element="tns:AddExpResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpSoapIn">
    <wsdl:part name="parameters" element="tns:GetExp" />
  </wsdl:message>
  <wsdl:message name="GetExpSoapOut">
    <wsdl:part name="parameters" element="tns:GetExpResponse" />
  </wsdl:message>
  <wsdl:message name="GetRankSoapIn">
    <wsdl:part name="parameters" element="tns:GetRank" />
  </wsdl:message>
  <wsdl:message name="GetRankSoapOut">
    <wsdl:part name="parameters" element="tns:GetRankResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllExpSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllExp" />
  </wsdl:message>
  <wsdl:message name="GetAllExpSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllExpResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpSvcSoap">
    <wsdl:operation name="AddExp">
      <wsdl:input message="tns:AddExpSoapIn" />
      <wsdl:output message="tns:AddExpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExp">
      <wsdl:input message="tns:GetExpSoapIn" />
      <wsdl:output message="tns:GetExpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRank">
      <wsdl:input message="tns:GetRankSoapIn" />
      <wsdl:output message="tns:GetRankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExp">
      <wsdl:input message="tns:GetAllExpSoapIn" />
      <wsdl:output message="tns:GetAllExpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpSvcSoap" type="tns:ExpSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddExp">
      <soap:operation soapAction="http://tcjjg.com/AddExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExp">
      <soap:operation soapAction="http://tcjjg.com/GetExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRank">
      <soap:operation soapAction="http://tcjjg.com/GetRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExp">
      <soap:operation soapAction="http://tcjjg.com/GetAllExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExpSvcSoap12" type="tns:ExpSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddExp">
      <soap12:operation soapAction="http://tcjjg.com/AddExp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExp">
      <soap12:operation soapAction="http://tcjjg.com/GetExp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRank">
      <soap12:operation soapAction="http://tcjjg.com/GetRank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExp">
      <soap12:operation soapAction="http://tcjjg.com/GetAllExp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpSvc">
    <wsdl:port name="ExpSvcSoap" binding="tns:ExpSvcSoap">
      <soap:address location="http://localhost:8091/ExpSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="ExpSvcSoap12" binding="tns:ExpSvcSoap12">
      <soap12:address location="http://localhost:8091/ExpSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>