TcjjgWeb/TCJJG.Web3/App_WebReferences/ResourceWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tcjjg.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tcjjg.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tcjjg.com/webservices/">
      <s:element name="FiltrateWordsVerify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FiltrateWordsVerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FiltrateWordsVerifyResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FiltrateWordsVerifySoapIn">
    <wsdl:part name="parameters" element="tns:FiltrateWordsVerify" />
  </wsdl:message>
  <wsdl:message name="FiltrateWordsVerifySoapOut">
    <wsdl:part name="parameters" element="tns:FiltrateWordsVerifyResponse" />
  </wsdl:message>
  <wsdl:portType name="ResourceWSSoap">
    <wsdl:operation name="FiltrateWordsVerify">
      <wsdl:input message="tns:FiltrateWordsVerifySoapIn" />
      <wsdl:output message="tns:FiltrateWordsVerifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceWSSoap" type="tns:ResourceWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FiltrateWordsVerify">
      <soap:operation soapAction="http://www.tcjjg.com/webservices/FiltrateWordsVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourceWSSoap12" type="tns:ResourceWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FiltrateWordsVerify">
      <soap12:operation soapAction="http://www.tcjjg.com/webservices/FiltrateWordsVerify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceWS">
    <wsdl:port name="ResourceWSSoap" binding="tns:ResourceWSSoap">
      <soap:address location="http://localhost:7006/ResourceWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourceWSSoap12" binding="tns:ResourceWSSoap12">
      <soap12:address location="http://localhost:7006/ResourceWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>