TcjjgWeb/TCJJG.Web/App_WebReferences/SocialCenterWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tcjjg.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tcjjg.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tcjjg.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AddHeadImgIdentify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="identifyDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="identifyType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="identifyStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifyInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verifyResultInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="userHeadImg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHeadImgIdentifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddHeadImgIdentifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeadIdentifyIsChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeadIdentifyIsChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HeadIdentifyIsChangeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddHeadImgIdentifySoapIn">
    <wsdl:part name="parameters" element="tns:AddHeadImgIdentify" />
  </wsdl:message>
  <wsdl:message name="AddHeadImgIdentifySoapOut">
    <wsdl:part name="parameters" element="tns:AddHeadImgIdentifyResponse" />
  </wsdl:message>
  <wsdl:message name="HeadIdentifyIsChangeSoapIn">
    <wsdl:part name="parameters" element="tns:HeadIdentifyIsChange" />
  </wsdl:message>
  <wsdl:message name="HeadIdentifyIsChangeSoapOut">
    <wsdl:part name="parameters" element="tns:HeadIdentifyIsChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="SocialCenterWSSoap">
    <wsdl:operation name="AddHeadImgIdentify">
      <wsdl:input message="tns:AddHeadImgIdentifySoapIn" />
      <wsdl:output message="tns:AddHeadImgIdentifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HeadIdentifyIsChange">
      <wsdl:input message="tns:HeadIdentifyIsChangeSoapIn" />
      <wsdl:output message="tns:HeadIdentifyIsChangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SocialCenterWSSoap" type="tns:SocialCenterWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHeadImgIdentify">
      <soap:operation soapAction="http://www.tcjjg.com/webservices/AddHeadImgIdentify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeadIdentifyIsChange">
      <soap:operation soapAction="http://www.tcjjg.com/webservices/HeadIdentifyIsChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialCenterWSSoap12" type="tns:SocialCenterWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHeadImgIdentify">
      <soap12:operation soapAction="http://www.tcjjg.com/webservices/AddHeadImgIdentify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeadIdentifyIsChange">
      <soap12:operation soapAction="http://www.tcjjg.com/webservices/HeadIdentifyIsChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialCenterWS">
    <wsdl:port name="SocialCenterWSSoap" binding="tns:SocialCenterWSSoap">
      <soap:address location="http://devserver-pc:7006/SocialCenterWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SocialCenterWSSoap12" binding="tns:SocialCenterWSSoap12">
      <soap12:address location="http://devserver-pc:7006/SocialCenterWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>